#
# Sample yubikey-ldap.conf
#
# Author: Michal Ludvig - http://logix.cz/michal/devel/yubikey-ldap/
#

# LDAP server URI
conf.uri = "ldap://ldap.example.com"

# Start TLS
# (default is False, however True is recommended)
conf.start_tls = True

# TLS CA Certificates
# By default the values from system ldap.conf are used
#conf.tls_cacertpath = "/etc/pki/tls/certs"
#conf.tls_cacertfile = "/etc/pki/tls/certs/ca-bundle.pem"

# Only simple authentication supported, no SASL yet
conf.bind_dn = "cn=Manager,dc=example,dc=com"
conf.bind_pw = "Secr3t"

# Where are your user objects stored?
conf.base_dn = "ou=People,dc=example,dc=com"

# YubiKey output is very long and only a few chars
# at the beginning is the ID we need to store in LDAP.
# For YubiCloud authentication it's 12 chars.
conf.yubi_id_len = 12
